 <div class="main-signin-header">


                            <h2>Enter new password</h2>

                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                            <form method="post">
                                {% csrf_token %}
                                {{form}}
                                <input type="Submit" style="background-color: #6c5ce7; " value="Update Password"
                                    class="text-white text-center my-2 btn btn-info" name="Update Password" onClick="this.form.submit(); this.disabled=true; this.value='Updating Password…'; "/>
                            </form>
                        </div>